.container_dashboard{
    position: absolute;
    top: 12%;
    left: 25%;
}

.coluna{
    margin-bottom: 2%;
}

.chartResetButton{
    position: fixed;
    right: 1%;
    border: none;
    background-color: #5751D3 ;
    z-index: 20;
    transition:  0.5s;
    font-size: 20px;
    animation: fadeIn 0.5s;
}


.chartResetButton:hover{
    color: #ffff;
    background-color: #9894EA ;
    transition:  0.5s;
}

.chartResetButton .buttonIcon{
    font-size: 25px;
}

.parametrosTitulo{
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 32px;
    color: #3E3579;
    margin: 40px 0px 10px 0px;
}

.box-par{
    background: #FFFFFF;
    box-shadow: 10px 10px 24px rgba(151, 149, 195, 0.5);
    border-radius: 10px;
    height: fit-content;
    padding: 15px 10px 10px 10px;
    margin-bottom: 50px;
}

.box-dash{
    background: #FFFFFF;
    box-shadow: 10px 10px 24px rgba(151, 149, 195, 0.5);
    border-radius: 10px;
    height: fit-content;
    padding:  10px;
}

.accordion{
    margin-bottom: 10px;
}

.accordion > .accordion-item{
    margin-bottom: 1%;
}

.accordion-button:focus{
    border: #5751D3 !important;
}

.accordion-button:not(.collapsed){
    background-color: #9894EA;
    color: white;

}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }