.pack{
    max-width: 800px;
    width: 100%;
    height: 99px;
    left: 35%;
    top: 50%;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    max-width: 800px;
    width: 100%;
    height: 99px;
    left: 35%;
    top: 35%;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 40px !important;
    line-height: 39px !important;
    color: #3E3579 !important;
}

.box{
    width: 126px;
    height: 126px;
}

.boxbtn{
    background-color: #ffff !important;
    box-shadow: 10px 10px 24px rgba(151, 149, 195, 0.5);
    border-radius: 10px;
    width: 126px;
    height: 126px;
    margin: 0px 20px 0px 20px;
    border: none;
    color: #5751D3 !important;
    transition: 0.3s;
}

.boxbtn:hover{
    color: #2BF400 !important;
    transition: 0.3s;
}

.boxbtn > .icon{
    width: 60px !important;
    height: 60px !important;
    margin: 15px;
}