@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    /* colors ✨ */
    --background: #EDF0F9;
    --light-purple: #9894EA;
    --purple: #5751D3;
    --green: #2BF400;
    --white: #FFFFFF;
    --black: #181818;

    /* transition ✨ */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: var(--light-purple);
    color: var(--purple);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--purple);
    z-index: 100;  
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 6px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--white);
    transition: var(--trans-05);
}

.sidebar header .text {
    margin: 10px 0px 0px 15px;
    font-size: 30px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar header {
    position: relative;
    display: flex;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .header-text .name {
    font-size: 30px;
    font-weight: 500;
    font-size: 30px;
}

.sidebar header .image {
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    margin-top: 10px;
    width: 200px;
    border-radius: 6px;
}

.sidebar .menu {
    margin-top: 0px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--light-purple);
    cursor: pointer;
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--light-purple);
    color: var(--white);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
}

::placeholder {
    color: var(--white);
}

.sidebar li a,
.bottom-content button {
    border: none;
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--trans-05);
}

.sidebar li a:hover,
.bottom-content button:hover {
    background-color: var(--light-purple) !important;
    transition: var(--trans-05) !important;
}

.bottom-content button:active {
    background-color: var(--dark-purple) !important;
    transition: var(--trans-05) !important;  
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text,
.bottom-content button:hover .icon,
.bottom-content button:hover .text,
.bottom-content button:active {
    color: var(--purple) !important;
    transition: var(--trans-05) !important;
}

.sidebar .menu-bar {
    height: calc(100% - 85px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.sidebar .menu-links {
    margin-left: -30px;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.drop-sidebar{
    padding-left: 0px !important;
    background:transparent; 
    border:none; 
    outline:none; 
    display:block; 
    cursor:pointer;
    transition: var(--trans-05) !important;
}

.drop-sidebar:hover{
    background:transparent; 
    border:none; 
    outline:none; 
    display:block; 
    cursor:pointer;
    transition: var(--trans-05) !important;
}

.drop-sidebar:hover > span, .drop-icon{
    color: var(--purple) !important;
    transition: var(--trans-05) !important;
}

.drop-sidebar > .drop-icon{
    color: #FFFF !important;
    transition: var(--trans-05) !important;
}


.drop-sidebar:hover > .drop-icon{
    color: var(--purple) !important;
    transition: var(--trans-05) !important;
}


.drop-sidebar:active{
    background:transparent; 
    border:none; 
    outline:none; 
    display:block; 
    cursor:pointer;
    transition: var(--trans-05) !important;
}

.drop-sidebar:checked{
    background:transparent !important; 
    border:none !important; 
    outline:none !important; 
    display:block !important; 
    cursor:pointer !important;
    transition: var(--trans-05) !important;
}

.drop-sidebar:active{
    background:transparent !important; 
    border:none !important; 
    outline:none !important; 
    display:block !important; 
    cursor:pointer !important;
    transition: var(--trans-05) !important;
    background-color: #5751D3 !important;
    border-color: #5751D3 !important;
}

.dropdown-sidebar{
    width: 100%;
    padding: 5px 0px 5px 0px;
    border-radius: 6px;
    transition: var(--trans-05) !important;
}

.dropdown-sidebar:hover{
    background-color: var(--light-purple) !important;
    transition: var(--trans-05) !important;
}