.box-list{
    position: absolute;
    width: 65%;
    height: fit-content;
    left: 25%;
    top: 32%;
    background: #FFFFFF;
    box-shadow: 10px 10px 24px rgba(151, 149, 195, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.box-report{
    top: 18%;
}

.table{
    margin:  0 0 0 0 auto !important;
}

tbody > tr:hover{
    background-color: #F3F5FD !important;
}

.bt{
    width: 44px;
    height: 36px;
    border-radius: 5px;
    border: none !important;
    margin: 10px;
}

th{
    color: #3E3579
}

tr{
    vertical-align: middle;
}

.bt-view{
    background: #fff !important;
    border: 1.3px solid #5751D3 !important;
    color: #5751D3 !important;
    transition: 0.3s;
}

.bt-view svg,
.bt-edit svg,
.bt-dash svg,
.bt-record svg,
.bt-delete svg {
    color: #5751D3 !important;
}

.bt-view:hover {
    color: #2BF400 !important;
    background: #ffff !important;
    border: 1.3px solid #2BF400 !important;
    transition: 0.3s;
}

.bt-view svg:hover,
.bt-edit svg:hover,
.bt-dash svg:hover,
.bt-record svg:hover  {
    color: #2BF400 !important;
    transition: 0.3s;
}

.bt-delete svg:hover {
    color: #FF0000 !important;
    transition: 0.3s;
}

.bt-edit{
    background: #fff !important;
    border: 1.3px solid #5751D3 !important;
    color: #5751D3 !important;
    transition: 0.3s;
}
.bt-edit:hover{
    color: #2BF400 !important;
    background: #ffff !important;
    border: 1.3px solid #2BF400 !important;
    transition: 0.3s;
}

.bt-delete{
    background: #fff !important;
    border: 1.3px solid #5751D3 !important;
    color: #5751D3 !important;
    transition: 0.3s;
}
.bt-delete:hover{
    color: red !important;
    background: #ffff !important;
    border: 1.3px solid red !important;
    transition: 0.3s;
}

.bt-record{
    background: #fff !important;
    border: 1.3px solid #5751D3 !important;
    color: #5751D3 !important;
    transition: 0.3s;
}
.bt-record:hover{
    color: #2BF400 !important;
    background: #ffff !important;
    border: 1.3px solid #2BF400 !important;
    transition: 0.3s;
}

.bt-dash{
    background: #fff !important;
    border: 1.3px solid #5751D3 !important;
    color: #5751D3 !important;
    transition: 0.3s;
}
.bt-dash:hover{
    color: #2BF400 !important;
    background: #ffff !important;
    border: 1.3px solid #2BF400 !important;
    transition: 0.3s;
}

.bt-active,
.swal2-styled.swal2-confirm {
    background: #00dc07 !important;
    transition: 0.3s;
    border: none !important;
}

.bt-active:hover,
.swal2-styled.swal2-confirm:hover {
    background: #39b500 !important;
    transition: 0.3s;
}

.bt >.icon{
    width: 20px !important;
    height: 20px !important;
    color: #333333;
}